<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.CitasAgendaminentoConnectionString"
            connectionString="Data Source=LAPTOP-M0HDS4L2\DBSEGUNDO;Initial Catalog=CitasAgendaminento;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.CitasAgendaminentoConnectionString1"
            connectionString="Data Source=ANTHONY_JERES;Initial Catalog=CitasAgendaminento;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>